    body{
      background-color: #ffffcc;
        }
        * {
            margin: 0px;
        }

        header {
            background-color: #ebde52;
            height: 80px;
        }

        nav {
            width: 20%;
            padding-top: 20px;
             background-color:#e3e3e3;
        }

        main {
            position: absolute;
            top: 80px; /* same as the height of header */
            left: 20%; /* same as the width of nav */
            width: 80%;
            padding-top: 20px;
            background-color:white;
        }

        p {
            margin: 1em;
        }
   
